{% extends "maggie/base.html" %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Sender</th>
                <th>Recipient</th>
                <th>Product</th>
                <th>Type</th>
                <th>Img</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td><a href="{% url 'maggie:transaction_detail' transaction.pk %}">{{ transaction.name }}</a></td>
                    <td>{{ transaction.sender.name }}</td>
                    <td>{{ transaction.recipient.name }}</td>
                    <td>{{ transaction.product }}</td>
                    <td>{{ transaction.type }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No transactions found!</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="5"><a href="{% url 'maggie:transaction_add' %}">Add new +</a></td>
                </tr>
        </tbody>
    </table>
    {% if is_paginated %}
        {% include "maggie/includes/paginator.html" with paginator=paginator page_obj=page_obj %}
    {% endif %}
{% endblock %}
